.lds_dual_ring {
    display: inline-block;
    width: 30px;
    height: 30px;
  }
  .lds_dual_ring:after {
    content: " ";
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 6px solid rgb(53, 32, 242);
    border-color: rgb(53, 32, 242) transparent rgb(53, 32, 242) transparent;
    animation: lds_dual_ring 1.0s linear infinite;
  }
  @keyframes lds_dual_ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
    