.card {
      padding: 1rem;
      background-color:rgb(220, 248, 226);
      box-shadow: 2px 2px 8px #238e2a;
      border: 0.25rem solid #6ab96f;
      border-radius: 5px;
      margin: 0rem auto;
      width: 95%;
    }




    